[user]
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = ThisKappaIsGrey
	email = thanatechaumnuaiwit@gmail.com
[core]
	excludesfile = ~/.gitignore-global
	editor = nvim
