"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "solarized-dark-syntax"
    ]
  editor:
    tabType: "soft"
  "exception-reporting":
    userId: "5a61557b-c9e2-5bf9-7220-464803070af0"
  minimap: {}
  nuclide:
    "nuclide-home":
      showHome: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
